@model ServicesCard
<div class="container">
	<div class="row">
		 <form class="forms-sample">
                    <div class="form-group">
                      <label asp-for="IconPath">IconPath</label>
                      <input asp-for="IconPath" placeholder="Icon">
                      <span asp-validation-for="IconPath"></span>
                    </div>
                    <div class="form-group">
                      <label asp-for="Name">Name</label>
                      <input asp-for="Name" placeholder="Name">
                      <span asp-validation-for="Name"></span>
                    </div>
                    <div class="form-group">
                      <label asp-for="Description">Description</label>
                      <input asp-for="Description" placeholder="Description">
                      <span asp-validation-for="Description"></span>
                    </div>
                    <button type="submit" class="btn btn-primary mr-2">Submit</button>
                    <button class="btn btn-light" asp-controller="Dashboard" asp-action="Index">Cancel</button>
                  </form>
	</div>
</div>
